export IP_ADDRESS="138.197.240.206"
export PUB_KEY="./secrets/id_ci.pub"
export PVT_KEY="./secrets/id_ci"
export SSH_FINGERPRINT=$(ssh-keygen -E md5 -lf ./secrets/id_ci.pub | awk '{print $2}' | sed s/MD5://)
